#HeroSection{
    /* background-color: aqua; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 90px 20px 20px 20px;
    color: white;
}

#HeroSection h1{
    text-align: center;
    margin: 10px;
    line-height: 35px;
    font-weight: normal;
    max-width: 70%;
    font-size: 25px;
}

.hero-image{
    max-width: 70%;
    max-height: 250px;
}

#HeroSection button{
    background: #00C689;
    border-radius: 6px;
    border: none;
    padding: 20px;
    height: 30px;
    /*width: 150px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 10px;
    cursor: pointer;
}
.heroSectionDescContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSectionButtonContainer{
    display: flex;
}

#HeroSection p{
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .hero-image{
        max-width: 70%;
        max-height: 400px;
    }
    #HeroSection{
        padding-top: 70px;
    }
    #HeroSection h1{
        font-size: 38px;
        line-height: 50px;
    }
    #HeroSection p{
        font-size: 12px;
    }
}


@media screen and (max-width: 768px) {
    #HeroSection{
        padding-top: 70px;
    }
    #HeroSection h1{
        font-size: 20px;
        line-height: 30px;
    }
    #HeroSection p{
        font-size: 12px;
    }
}


@media screen and (max-width: 550px) {
    #HeroSection h1{
        font-size: 18px;
        line-height: 25px;
    }
    #HeroSection p{
        font-size: 11px;
    }
    .hero-image{
        max-width: 80%;
        max-height: 250px;
    }
    
}

@media screen and (max-width: 460px) {
    #HeroSection h1{
        font-size: 15px;
        line-height: 25px;
        max-width: 95%;
    }
    #HeroSection p{
        font-size: 11px;
    }
    .hero-image{
        max-width: 90%;
        max-height: 250px;
    }
}

