#tokenomics-section{
    margin-top: 50px;
}

#tokenomics-section .tokenomics-heading-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}


#tokenomics-section .tokenomics-heading-container img{
    margin-top: -20px;
    margin-left: -100px;
    width: 94;
    padding: 0;
}

.tokenomics-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* padding: 20px; */
    color: white;
}

.tokenomics-container > div{
    margin: 0 10px;
}
.chart-logo{
    position: relative;
    bottom: 150px;
    z-index: -100;

}

.tokenomics-chart .chart-total{
    display: flex;

}

.chart-total p{
    
    margin: -50px 10px 0 10px;
}

.chart-total{
    display: flex;
}
.tokenomics-chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tokenomics-legends ul{
    display: flex;
    flex-direction: column;

}
.tokenomics-legends li{
    list-style: none;
    
}


  @media screen and (max-width: 768px) {
    .tokenomics-container{
        flex-direction: column;
    }
    .tokenomics-legends ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    
}


@media screen and (max-width: 550px) {
    .chart-total{
        margin-top: 15px;
        flex-direction: column;
    }
   
    .tokenomics-legends ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        align-items: center;
        justify-content: center;
    }
    
}