
.NavContainer{
    background-color: #0D454A;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 50!important;
    position: fixed;
    top: 0;
}
.navbar {
    padding: 10px;
    display: flex;
    width: 90vw;
    max-width: 1200px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: aqua; */
    
}

.nav-logo{
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}

.nav-list{
    transition: all 0.5s ease-in-out;
    color: white;

}
.nav-list ul{
    
    display: flex;
    /* justify-content: space-around; */
    list-style: none;
    
}
.nav-list ul a{
    margin: 14px;
    text-decoration: none;
    color: white;
}
.sidebarbtn{
    display: none;
    transition: all 0.5s ease-in-out;
    width: 40px;
    
}

@media screen and (max-width: 768px) {
        .nav-list{
            display: none;
        }
        .sidebarbtn{
            display: flex;
            justify-content: center;
        }
  }
  

